
.picture-1{
    width: 340px;
    height: 570px;
}
.form{
    border: 1px solid gray;
    
}
.edit_profile{
    border:   1px solid gray;
    display: inline-flex;
       
}
.edit{
    border:   1px solid gray;
}
.comment{
    font-size: 10px;
    color: gray;
}
